
@media screen and (max-width:800px){
    .navigation_menu{
        width: 50vw;
    }
    .title{
        font-size: 60px;
    }
    .service-container img{
        width: 80%;
        margin-bottom: 40px;    
    }

    .checklist-service{
        width: 80%;
    }
    .service{
        margin-bottom: 30px;
    }

    .add-image{
        width: 80%;
    }
    .img-gallery{
        width: 45%;
    }
    .container_expert{
        width: 80%;
    }
    .container_footer{
        justify-content: center;
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media i{
        margin-left: 0;
    }
    .contact-us{
        text-align: center;
         width: 90%;
         margin-bottom: 40px;
    }

    @media screen and (max-width:499px) {
        .navigation_menu{
            width: 65vw;
        }
        .hamburger{
            top: 20px;
            right: 20px;
        }        
        .title{
            font-size: 40px;
        }
        .subtitle{
            font-size: 30px;
        }
        .img-gallery{
            width: 95%;
        }
        .container_expert img{
            width: 100%;
        }
    }


}